<div class="page-title">
  <div class="title_left">
    <h3>Danh sách người dùng</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter" placeholder="Gõ tên quyền...">
        <span class="input-group-btn">
            <button class="btn btn-default" (click)="loadData()" type="button">Tìm!</button>
         </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button *ngIf="_authenService.hasPermission('USER','create')" class="btn btn-success" (click)="showAddModal()">Thêm mới</button>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tài khoản</th>
              <th>Họ tên</th>
              <th>Email</th>
              <th>Ngày sinh</th>
              <th>Số điện thoại</th>
              <th>Avatar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.UserName}}</td>
              <td>{{user.FullName}}</td>
              <td>{{user.Email}}</td>
              <td>{{user.BirthDay | date:'dd/MM/yyyy'}}</td>
              <td>{{user.PhoneNumber}}</td>
              <td><img [src]="baseFolder + user.Avatar" class="img-responsive" width="128" /></td>
              <td>
                <button class="btn btn-primary"  *ngIf="_authenService.hasPermission('USER','update')" (click)="showEditModal(user.Id)"><i class="fa fa-pencil-square-o"></i></button>
                <button class="btn btn-danger"  *ngIf="_authenService.hasPermission('USER','delete')" (click)="deleteItem(user.Id)"><i class="fa fa-trash"></i></button>

              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow"
            [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm/Sửa người dùng</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #name="ngModel" [(ngModel)]="entity.FullName" required minlength="3" name="name" class="form-control">
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tài khoản</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #username="ngModel" [(ngModel)]="entity.UserName" required name="username" class="form-control">
              <small [hidden]="username.valid || (username.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tài khoản
              </small>
            </div>
          </div>
          <div class="form-group" *ngIf="!entity.Id">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mật khẩu</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #password="ngModel" [(ngModel)]="entity.Password" required minlength="6" name="password" class="form-control">
              <small [hidden]="password.valid || (password.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 6 ký tự
              </small>
            </div>
          </div>
          <div class="form-group" *ngIf="!entity.Id">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Xác nhận mật khẩu</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #confirmpassword="ngModel" [(ngModel)]="entity.ConfirmPassword" required validateEqual="password"
                minlength="6" name="confirmpassword" class="form-control">
              <small [hidden]="confirmpassword.valid || (confirmpassword.pristine && !addEditForm.submitted)" class="text-danger">
                Xác nhận mật khẩu sai
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="entity.Email" required
                name="email" class="form-control">
              <small [hidden]="email.valid || (email.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập email
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #address="ngModel" [(ngModel)]="entity.Address" name="address" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Điện thoại</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #phonenumber="ngModel" [(ngModel)]="entity.PhoneNumber" required name="phonenumber" class="form-control">
              <small [hidden]="phonenumber.valid || (phonenumber.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập số điện thoại
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Avatar</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" #avatar name="avatar" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.Avatar" name="avatarUrl" />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.Avatar">
              <img [src]="baseFolder+entity.Avatar" width="128" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #birthday="ngModel" daterangepicker (selected)="selectedDate($event)" [options]="dateOptions" [(ngModel)]="entity.BirthDay" name="birthday"
                class="form-control">
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
            <div class="col-md-6 col-sm-6 col-xs-12">

              <input type="radio" (change)="selectGender($event)" #gender="ngModel" [checked]="entity.Gender=='True'" name="gender" [ngModel]="entity.Gender" value="True" required />              Nam

              <input type="radio" (change)="selectGender($event)"  #gender="ngModel" [checked]="entity.Gender=='False'" name="gender" [ngModel]="entity.Gender" value="False" />              Nữ

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Thuộc nhóm</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [options]="allRoles" [(ngModel)]="myRoles"></ss-multiselect-dropdown>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>