<div class="page-title">
  <div class="title_left">
    <h3>Danh mục sản phẩm</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" name="filter" [(ngModel)]="filter" (keyup.enter)="search()" class="form-control" placeholder="Tìm kiếm...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Tìm!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">

  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <button class="btn btn-success" (click)="showAdd()">Thêm mới</button>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <tree-root #treeProductCategory [nodes]="_productCategoryHierachy">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <span>{{ node.data.Name }}</span>
          <button class="btn btn-xs btn-primary" (click)="showEdit(node.data.ID)"> <i class="fa fa-pencil-square-o"  aria-hidden="true"></i></button>
          <button class="btn btn-xs btn-danger" (click)="delete(node.data.ID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </ng-template>
      </tree-root>
    </div>
  </div>

</div>
<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm mới / Chỉnh sửa</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" novalidate #addEditForm="ngForm" (ngSubmit)="saveChanges(addEditForm.valid)"
          *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.ID" name="id" />
              <input type="text" #name="ngModel" (keypress)="createAlias()" [(ngModel)]="entity.Name" required minlength="3" name="name" class="form-control" />
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Alias</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #alias="ngModel" [(ngModel)]="entity.Alias" required minlength="3" name="alias" class="form-control" />
              <small [hidden]="alias.valid || (alias.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập alias
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea type="text" #name="ngModel" [(ngModel)]="entity.Description" name="description" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Thứ tự</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="number" #displayOrder="ngModel" [(ngModel)]="entity.DisplayOrder" required name="displayOrder" class="form-control"
              />
              <small [hidden]="displayOrder.valid || (displayOrder.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập thứ tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Thứ tự trang chủ</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="number" #homeOrder="ngModel" [(ngModel)]="entity.HomeOrder" required name="homeOrder" class="form-control" />
              <small [hidden]="homeOrder.valid || (displayOrder.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập thứ tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Hình ảnh</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" #image name="image" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.Image" name="image" />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.Image">
              <img [src]="entity.Image" width="128" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Chức năng cha</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" name="parentId" [(ngModel)]="entity.ParentID">
                 <option value="">--Chọn chức năng cha--</option>
                  <option *ngFor="let x of _productCategories" [value]="x.ID">{{x.Name}}</option>
                </select>
              <input type="hidden" [(ngModel)]="entity.ParentID" name="parentId" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Từ khóa</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #metaKeyword="ngModel" [(ngModel)]="entity.MetaKeyword" name="keyword" class="form-control" />

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả SEO</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #metaDescription="ngModel" [(ngModel)]="entity.MetaDescription" required minlength="3" name="metaDescription"
                class="form-control" />
              <small [hidden]="metaDescription.valid || (metaDescription.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trạng thái</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="checkbox">
                <label>
                   <input type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Kích hoạt
                </label>
              </div>
              <div class="checkbox">
                <label>
                   <input type="checkbox" [(ngModel)]="entity.HomeFlag" name="homeFlag" #status="ngModel"> Hiển thị trang chủ
                </label>
              </div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>